@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 400;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
	list-style: none;
}

.swiper-pagination {
	position: absolute;
	bottom: 50% !important;
	left: 44% !important;
	transform: translate(50%) !important;
	transform: rotate(90deg) !important;
}

.sliderBackground_sliderBackground__a7VsV {
	width: 100% !important;
	/* height: 100% !important; */
}
/* Опционально: Стили для пагинатора (точек) */
.swiper-pagination-bullet {
	width: 10px !important;
	height: 50px !important;
	background-color: rgba(255, 255, 255, 0.5) !important;
	opacity: 1;
	border-radius: 15px !important;
}

.swiper-pagination-bullet-active {
	background-color: #ffffff;
}
.swiper-button-prev {
	background-color: #000;
	font-size: 14px;
	width: 40px !important;
	height: 40px !important;
	position: absolute;
	bottom: 0 !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 12px !important;
}

.slick-slide div {
	margin: 0 auto;
}
.css-yrbzyg-MuiButtonBase-root-MuiRadio-root {
	color: #ebb855 !important;
}
